body
    font-family: "source-sans-pro";
    color: #FFFFFF
    #maincontent-container 
        background: #194F5A
        #slide-1
            .inner-slide
                height: 100%
            .center-col
                height: 6861px
                background-image: url("https://github.com/GlobalDairy/savetheworld/blob/gh-pages/img/arrow.png?raw=true")
                background-position: center top
                background-repeat: no-repeat
    #footer
        background: #FFFFFF
        width: 100vw